.bg_cont {
  border: 1px solid black;
  height: 700px;
  width: 900px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  background-color: #222a34;
  position: relative;
}

.header_title {
  color: white;
  font-size: 50px;
  text-align: right;
  padding-top: 20px;
  padding-right: 22px;
  font-family: "Aduma";
}

.close_top {
  position: absolute;
  top: 20px;
  left: 20px;
}

.upload_btn {
  background-color: #475366;
  width: 130px;
  color: white;
  padding: 7px;
  text-align: right;
  border-radius: 28px;
  position: absolute;
  top: 45px;
  left: 65px;
  background-image: url("../assets/Upload.png");
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.content_div {
  border: 1px solid black;
  height: 700px;
  width: 900px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  background-color: #222a34;
  position: relative;
}
